@model IndiceWorksProyectViewModel
@{
    ViewData["Title"] = "Tareas por proyectos";
    ViewData["showButton"] = true;
    var paginationResponse = Model.PaginationResponse;
    
}

<div class="row">
    <div class="d-flex justify-content-center mt-3">
        <h3><span class="badge bg-gradient">Listado de Tareas por Proyecto</span></h3>
    </div>
    <partial name="_DetailProyect" model="Model.Proyect" view-data="ViewData" />

    @if (paginationResponse.Elements.Count() > 0)
        {
        <div class="col-12 col-md-8">
            <div class="col mt-2">
            <div class="row">
                <label>Cantidad de registros a mostrar:</label>
                <div class="mb-3 col-auto">
                        <select asp-for="@Model.PaginationResponse.RecordsByPage" id="quantityRecordsByPage"
                            class="form-select">
                        <option>3</option>
                        <option>5</option>
                        <option>10</option>
                        <option>25</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                @Model.Proyect.Id
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr class="bg-gradient text-white">
                            <th>Tarea</th>
                            <th>Prioridad</th>
                            <th style="width:155px">Fecha de Entrega</th>
                            <th>Descripción</th>
                            <th class="text-center" style="width:175px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var work in paginationResponse.Elements)
                        {
                
                            <tr class="table-light">
                                <td>@work.Name</td>
                                <td>@work.Priority</td>
                                <td>@work.DeliverDate</td>
                                <td>@work.Description</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-end gap-2">

                                        <a class="" asp-action="Edit" asp-route-id="@work.Id"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-custom-class="custom-tooltip"
                                           data-bs-title="Editar Tarea">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>


                                            <form method="post" asp-action="DeleteTask" asp-route-id="@work.Id"
                                              id="@(String.Format("{0}{1}", "formulario", work.Id))" onsubmit="sendForm(event,@work.Id,`@(String.Format("{0} {1}", "la tarea", work.Name))`)">
                                            <input type="hidden" value="@work.Id" />
                                            <button type="submit" class="align-center"
                                                    style="border:none;background: none;padding:0"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    data-bs-custom-class="custom-tooltip"
                                                    data-bs-title="Eliminar Tarea">
                                                <i class="bi bi-trash3-fill"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                    <partial name="_Pagination" model="Model.PaginationResponse"/>
            </div>
        </div>
        </div>
        }
        else
        {
      <div class="col-12 col-md-8">
            <div class="col mt-5">
                <div class="card">
                    <div class="card-header bg-gradient text-white">No hay tareas asignadas</div>
                </div>
            </div>
       </div>
          
        }
    </div>

<partial name="_NotificationPartial" />

@section Scripts{
        
    <script src="~/js/initPaginationController.js" asp-append-version="true"></script>
    <script>
        initPaginationController('Work', @Model.Proyect.Id);
    </script>
    <script src="~/js/sendForm.js" asp-append-version="true"></script>
}                                                